[Unit]
Description=RoPieee green LED
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash -c '/boot/RoPieee/control_led'

[Install]
WantedBy=sysinit.target

