[Unit]
Description=RoPieee bootstrap process
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/boot/RoPieee/bootstrap'
StandardOutput=journal+console
SyslogIdentifier=ropieee

[Install]
WantedBy=multi-user.target

