[Unit]
Description=RoPieee-Reboot
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/bin/bash -c '/opt/RoPieee/sbin/reboot'
RemainAfterExit=yes
StandardOutput=journal+console
SyslogIdentifier=ropieee-reboot

[Install]
WantedBy=multi-user.target

